body {background: white;}
.star {
  position: fixed;
  top: -10px;
  left: calc(10% + 80% * random());
  font-size: 20px; /* Ukuran bintang */
  color: yellow; /* Warna bintang */
  animation: starFall 4s linear infinite;
}

h5 {font-family: Verdana;
color: gray;
text-align: center;
font-size: 30px;
}
h6 {color:gray;
font-size: 30px;
}
a {font-family: Monospace;
font-size: 18px;
}
h4 {color: green;
}
footer {color: blue;
ul {color:green;
   }
